[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
selenium = "*"
user-agent = "*"
soundfile = "*"
httplib2 = "*"
oauth2client = "*"
google-api-python-client = "*"
wikipedia-api = "*"
moviepy = "*"
pydub = "*"
setuptools = "*"
wheel = "*"
pip = "*"
opencv-python-headless = "*"
gtts = "*"
pyttsx3 = "*"
lxml = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-timeout = "*"

[requires]
python_version = "3.9"
