[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
selenium = "*"
user-agent = "*"
soundfile = "*"
httplib2 = "*"
oauth2client = "*"
apiclient = "*"
wikipedia-api = "*"
moviepy = "*"
pydub = "*"

[dev-packages]
pyttsx3 = "*"
pytest = "*"
gtts = "*"

[requires]
python_version = "3.9"
